<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr style="text-align: center">
        <th scope="col">No</th>
        <th scope="col">Pilihan Player 1</th>
        <th scope="col">Pilihan Player 2</th>
        <th scope="col">Hasil Permainan</th>
        <th scope="col">Tanggal Bermain</th>
      </tr>
    </thead>

    <tbody>
      <% showAll.forEach((data, index)=> { %>
      <tr style="text-align: center">
        <th scope="row"><%= index + 1 %></th>
        <td class="w-10"><%= data.player_one %></td>
        <td><%= data.player_two %></td>
        <td><%= data.result %></td>
        <td><%= data.createdAt %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
